.transaction {
    border-collapse: collapse;
    width: 450px;
}

th, td {
    border: 1px solid #000;
    height: 30px;
    text-align: center;
    ;
}

th{

    background-color: #fff;
}


tr:nth-child(2n) {
    background-color: #4baab8;
}

tr:nth-child(2n - 1) {
    background-color: #fff;
}
